* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* # UTILS */

.container {
  display: flex;
  height: 900px;
}

.player {
  max-width: 100%;
  background-color: hsl(0deg 0% 15.69%);
  height: 100px;
}

/* SMALL COLUMN */
.small-col {
  background-color: hsl(0deg 0% 0%);
  width: 60px;
  height: 900px;
  /* margin-left: -10px; */
  display: flex;
  flex-direction: column;
  /* vertical-align: baseline; */
}

.logo-spotify {
  display: flex;
  align-items: center;
  padding: 15px 0;
  width: 100%;
  justify-content: center;
}

.small-col > * {
  flex-direction: column;
  align-items: center;
  /* margin-left: 7px; */
}

.logo-scritta {
  display: none;
}

.logo {
  width: 30px;
}

.list-icons {
  color: white;
  text-align: center;
  margin-left: 7px;
}

.icon {
  width: 25px;
  margin-bottom: 10px;
}

.scritta-icon {
  display: none;
  padding: 3px 0;
  color: gray;
}

.small-col li {
  display: flex;
  align-items: middle;
  gap: 6px;
  margin-left: 7px;
}

.profile {
  width: 42px;
}

.cerchio {
  margin-top: auto;
  margin-bottom: 10px;
  margin-left: 8px;
  width: 30px;
  height: 30px;
  background-color: hsl(0deg 0% 50.2%);
  border-radius: 53%;
  overflow: hidden;
}

.download {
  margin-top: auto;
  /* margin-top: 652px; */
  margin-left: 14px;
  width: 19px;
}

.big-col {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.crea-playlist {
  display: none;
  margin-top: 10px;
  margin-bottom: 20px;
  flex-direction: column;
  margin-left: 7px;
  align-items: flex-start;
  gap: 10px;
}

.playlists {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.add-playlist {
  display: flex;
  align-items: center;
  gap: 10px;
}

.head-big-col {
  background-color: hsl(217.5deg 25% 6.27%);
  max-width: 100%;
  height: 90px;
}

.main-big-col {
  display: flex;
  background-color: #1c1c2c;
  flex: 1 1 100%;
}

/**************************************************
**             MEDIA PHONE - SM                  **
**************************************************/

@media all and (min-width: 576px) {
  .logo-scritta {
    display: block;
    margin-bottom: 15px;
    max-width: 130px;
  }

  .logo {
    display: none;
  }

  .small-col {
    width: 300px;
  }

  .scritta-icon {
    display: flex;
  }

  .small-col > * {
    flex-direction: column;
    align-items: baseline;
    margin-left: 10px;
  }

  .crea-playlist {
    display: flex;
  }

  .playlists {
    display: flex;
  }
}

/**************************************************
**             MEDIA  TABLET - MD                  **
**************************************************/

@media all and (min-width: 768px) {
}

/**************************************************
**             MEDIA DESKTOP - LG                  **
**************************************************/

@media all and (min-width: 992px) {
}
