* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* # UTILS */

.container {
  display: flex;
  height: 900px;
}

.player {
  max-width: 100%;
  background-color: hsl(0deg 0% 15.69%);
  height: 100px;
}

/* SMALL COLUMN */
.small-col {
  background-color: hsl(0deg 0% 0%);
  width: 60px;
  height: 900px;
  /* margin-left: -10px; */
  display: flex;
  flex-direction: column;
}

.logo-spotify {
  display: flex;
  align-items: center;
  padding: 15px 0;
  width: 100%;
  justify-content: center;
}

.logo-scritta {
  display: none;
}

.logo {
  width: 38px;
}

.list-icons {
  color: white;
  text-align: center;
  margin-left: 7px;
}

.icon {
  width: 35px;
  margin-bottom: 10px;
}

.scritta-icon {
  display: none;
}

.profile {
  width: 42px;
}

.cerchio {
  margin-top: auto;
  margin-bottom: 10px;
  margin-left: 8px;
  width: 30px;
  height: 30px;
  background-color: hsl(0deg 0% 50.2%);
  border-radius: 53%;
  overflow: hidden;
}

.download {
  margin-top: 652px;
  margin-left: 14px;
  width: 19px;
}

.big-col {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.head-big-col {
  background-color: hsl(217.5deg 25% 6.27%);
  max-width: 100%;
  height: 90px;
}

.main-big-col {
  display: flex;
  background-color: #1c1c2c;
  flex: 1 1 100%;
}

/**************************************************
**             MEDIA PHONE - SM                  **
**************************************************/

@media all and (min-width: 576px) {
  .logo-scritta {
    display: block;
  }

  .logo {
    display: none;
  }

  .small-col {
    width: 150px;
  }

  .scritta-icon {
    display: flex;
  }
}

/**************************************************
**             MEDIA  TABLET - MD                  **
**************************************************/

@media all and (min-width: 768px) {
}

/**************************************************
**             MEDIA DESKTOP - LG                  **
**************************************************/

@media all and (min-width: 992px) {
}
